/* 1. FUENTES Y VARIABLES */
@font-face {
  font-family: 'Alphazet';
  src: url('../assets/fonts/Alphazet-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Alphazet';
  src: url('../assets/fonts/Alphazet-SemiBold.otf') format('opentype');
  font-weight: 600;
}

:root {
  --crepusculo: #03045E;
  --azul-verdoso: #0077B6;
  --turquesa-surf: #00B4D8;
  --azul-escarchado: #90E0EF;
  --cian-claro: #CAF0F8;
}

/* 2. CONTENEDOR PRINCIPAL */
.form-container {
  background: transparent;
  padding: 10px 20px;
  width: 100%;
  font-family: 'Alphazet', sans-serif !important;
}

.form-title {
  color: var(--crepusculo);
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 600;
}

/* 3. GRUPOS Y ETIQUETAS FLOTANTES */
.group {
  position: relative;
  margin-bottom: 35px;
}

.input {
  font-family: 'Alphazet', sans-serif !important;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--azul-escarchado);
  background: transparent;
  color: var(--crepusculo);
  transition: 0.2s ease all;
}

.input:focus {
  outline: none;
}

/* Estilo de la etiqueta (Label) */
.group label {
  color: #999;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
}

/* LÓGICA DE FLOTACIÓN: Al enfocar o al tener texto */
.input:focus ~ label, 
.input:not(:placeholder-shown) ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--turquesa-surf);
  font-weight: 600;
}

/* 4. BARRA INFERIOR ANIMADA */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--turquesa-surf);
  transition: 0.3s ease all;
}

.bar:before { left: 50%; }
.bar:after { right: 50%; }

.input:focus ~ .bar:before, 
.input:focus ~ .bar:after {
  width: 50%;
}

/* 5. BOTÓN Y ERRORES */
.form-button {
  width: 100%;
  padding: 14px;
  background-color: var(--crepusculo);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Alphazet', sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-button:hover {
  background-color: var(--azul-verdoso);
  box-shadow: 0 4px 12px rgba(3, 4, 94, 0.2);
}

.error-msg {
  color: #e63946;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

/* SWEETALERT CUSTOMS */
.swal2-container { font-family: 'Alphazet', sans-serif !important; }
.swal2-title { font-weight: 600 !important; color: var(--crepusculo) !important; }